* {
  box-sizing: border-box; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  background-color: #fff; }
  body:after {
    content: "";
    display: table;
    clear: both; }

.header-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  max-width: 100%;
  background-image: url(http://www.placekitten.com/1397/600);
  display: inline-block;
  vertical-align: middle;
  height: 500px;
  font: 100% Helvetica, sans-serif;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px #000; }
  .header-container:last-child {
    margin-right: 0; }
  .header-container #title-header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .header-container #title-header:last-child {
      margin-right: 0; }
    .header-container #title-header .header {
      margin-top: 20%;
      display: inline-block;
      width: 100%; }
      .header-container #title-header .header h1 {
        font-size: 100px;
        text-transform: uppercase;
        display: block;
        margin: auto; }
      .header-container #title-header .header h3 {
        display: block;
        font-size: 20px;
        font-style: italic;
        margin-bottom: 10%; }
  .header-container #nav-header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    z-index: 1;
    background: rgba(146, 154, 163, 0.5);
    width: 100%; }
    .header-container #nav-header:last-child {
      margin-right: 0; }
    .header-container #nav-header ul {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      margin: 0;
      list-style-type: none; }
      .header-container #nav-header ul:after {
        content: "";
        display: table;
        clear: both; }
      .header-container #nav-header ul li.block {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        display: inline;
        margin-top: 1em;
        margin-right: 0; }
        .header-container #nav-header ul li.block:last-child {
          margin-right: 0; }
        .header-container #nav-header ul li.block a {
          color: #fcc10f;
          text-decoration: none; }
    .header-container #nav-header .logo {
      margin-right: 1em; }
      .header-container #nav-header .logo img {
        max-height: 25px;
        max-width: 100%;
        vertical-align: text-bottom;
        float: right; }

.story-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  font: 100% Helvetica, sans-serif;
  color: #000;
  display: block; }
  .story-container:after {
    content: "";
    display: table;
    clear: both; }
  .story-container .story-body {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    .story-container .story-body:last-child {
      margin-right: 0; }
    .story-container .story-body .headline {
      margin: 0.25em 0;
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1; }
    .story-container .story-body .byline h3 {
      margin: 0.5em 0 0.5em 0;
      font-size: 0.75em;
      padding: 0;
      font-style: italic;
      font-weight: none;
      color: #888888;
      float: left; }
    .story-container .story-body hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #fcc10f; }
    .story-container .story-body .story p {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 58.86297%;
      margin-left: 20.56852%;
      font-size: 16px;
      line-height: 26px; }
      .story-container .story-body .story p:last-child {
        margin-right: 0; }
      .story-container .story-body .story p .caption {
        font-size: 11px;
        margin: 5px;
        line-height: 1;
        font-style: italic;
        color: #888888; }
    .story-container .story-body .story .left {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      .story-container .story-body .story .left:last-child {
        margin-right: 0; }
      .story-container .story-body .story .left img {
        width: 60%;
        float: left; }
      .story-container .story-body .story .left p {
        font-size: 12px;
        margin: 5px 0;
        line-height: 1;
        font-style: italic;
        color: #888888; }
      .story-container .story-body .story .left h2 {
        float: right;
        width: 35%; }
    .story-container .story-body .story .right {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 79.43148%;
      margin-left: 10.28426%; }
      .story-container .story-body .story .right:last-child {
        margin-right: 0; }
      .story-container .story-body .story .right img {
        width: 60%;
        float: right; }
      .story-container .story-body .story .right p {
        font-size: 12px;
        margin: 5px 0;
        line-height: 1;
        font-style: italic;
        color: #888888;
        float: right; }
      .story-container .story-body .story .right h2 {
        float: left;
        width: 35%; }
    .story-container .story-body .story .middle {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 79.43148%;
      margin-left: 10.28426%; }
      .story-container .story-body .story .middle:last-child {
        margin-right: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    max-width: 480px;
    width: 100%;
    background-image: url(http://www.placekitten.com/480/680);
    display: inline-block;
    vertical-align: middle;
    height: 500px;
    font: 100% Helvetica, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px #000; }
    .header-container:last-child {
      margin-right: 0; }
    .header-container .title-block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .header-container .title-block:last-child {
        margin-right: 0; }
      .header-container .title-block .header {
        margin-top: 20%;
        display: inline-block;
        width: 100%; }
        .header-container .title-block .header h1 {
          font-size: 60px;
          text-transform: uppercase;
          display: block;
          margin: auto; }
        .header-container .title-block .header h3 {
          display: block;
          font-size: 16px;
          font-style: italic;
          margin-bottom: 10%; }
    .header-container #nav-header {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      z-index: 1;
      background: rgba(146, 154, 163, 0.5);
      width: 100%; }
      .header-container #nav-header:last-child {
        margin-right: 0; }
      .header-container #nav-header ul {
        max-width: 68em;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        margin: 0;
        list-style-type: none; }
        .header-container #nav-header ul:after {
          content: "";
          display: table;
          clear: both; }
        .header-container #nav-header ul li.block {
          display: block;
          margin-top: .25em;
          margin-right: 0; }
          .header-container #nav-header ul li.block a {
            color: #fcc10f;
            text-decoration: none; }
        .header-container #nav-header ul li.image {
          margin-right: 1em; }
          .header-container #nav-header ul li.image img {
            max-height: 25px;
            max-width: 100%;
            vertical-align: text-bottom;
            float: right; }

  #story-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    max-width: 480px;
    width: 100%;
    background-color: #fff;
    font: 100% Helvetica, sans-serif;
    color: #000; }
    #story-container:last-child {
      margin-right: 0; }
    #story-container .story-body {
      max-width: 470px;
      margin: 0;
      width: 95%; }
      #story-container .story-body .headline {
        margin: 0.25em 0;
        font-size: 1em;
        font-weight: 700;
        line-height: 1; }
      #story-container .story-body .byline h3 {
        margin: 0.5em 0 0.5em 0;
        font-size: 0.75em;
        padding: 0;
        font-style: italic;
        font-weight: none;
        color: #888888;
        float: left; }
      #story-container .story-body hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #fcc10f; }
      #story-container .story-body .story p {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        width: 100%;
        font-size: 16px;
        line-height: 26px; }
        #story-container .story-body .story p:last-child {
          margin-right: 0; }
        #story-container .story-body .story p .caption {
          font-size: 11px;
          margin: 5px;
          line-height: 1;
          font-style: italic;
          color: #888888; }
      #story-container .story-body .story .left {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #story-container .story-body .story .left:last-child {
          margin-right: 0; }
        #story-container .story-body .story .left img {
          width: 100%;
          float: none; }
        #story-container .story-body .story .left p {
          font-size: 12px;
          margin: 5px 0;
          line-height: 1;
          font-style: italic;
          color: #888888; }
        #story-container .story-body .story .left h2 {
          float: right;
          width: 100%; }
      #story-container .story-body .story .right {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        width: 100%; }
        #story-container .story-body .story .right:last-child {
          margin-right: 0; }
        #story-container .story-body .story .right img {
          width: 100%;
          float: none; }
        #story-container .story-body .story .right p {
          font-size: 12px;
          margin: 5px 0;
          line-height: 1;
          font-style: italic;
          color: #888888;
          float: right; }
        #story-container .story-body .story .right h2 {
          float: none;
          width: 100%; }
      #story-container .story-body .story .middle {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        width: 100%; }
        #story-container .story-body .story .middle:last-child {
          margin-right: 0; } }
