html { 
	-webkit-text-size-adjust: 100%;
}
body {
	background-color: $white;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}
.container {
	background: $white;
	max-width: 100%;
	color: $dk_gray;
	font: 400 1.1em Georgia 100%;
	line-height: 1.4em;
	text-align: left;
	overflow-x: hidden;
	font-weight: normal;
}
//Top HEADER
.header-wrapper {
	position: relative;
	max-height: 640px;
}
.header-container {
	position: absolute;
	max-width: 100%;
	display: block;
	vertical-align: middle;
	text-align: center;
	max-height: 640px;
}
//Top of Page Navigation
.page-nav {
	background-color: $navBlack;
	height: 2.75em;
	img {	
		margin: 0 0.5em 0 0.5em;
		max-height: 1.5em;
	}
	.investigates-logo {
		display: none;
		@include media($desktop) {
			display: block;
			margin-top: 0.75em;				
			float: right;
		}
	}
	.trib-logo {
		margin-top: 0.25em;
		float: none;
		img {
			margin-top: 0.5em;
			max-height: 1.25em;
		}
		@include media($desktop) {
			float: left;
		}
	}
}
.page-nav-backdrop {
	background-color: $navBlack;
	height: 2.75em;
}
//Project Title, Subtitle
.title-container {
	.title {
		width: 100%;
		h1 {
			color: $white;
			font-size: 3em;
			line-height: 1.2em;
			text-shadow: rgb(0, 0, 0) 3px 3px 0px;
			font-family: Georgia;
			margin: auto;
			padding: 0.5em 0;
			@include media($desktop) {
				font-size: 5em;	
			}
		}
		h2 {
			color: $white;
			font: 500 1.5em helvetica;
			letter-spacing: 1px;
			line-height: 1.3em;
			text-align: center;
			text-shadow: rgb(0, 0, 0) 2px 2px 0px;
			margin: auto;
		}
	}
}
//Lead Background Art settings, images
.lead-image {
	background-repeat: no-repeat;
	height: 440px;
	width: 100%;
	background-position: center center;
	background-color: $navBlack;						
}
.lead-one {
	background-image: url(../images/leads/tt-workers-LeadArt-Todd-5.jpg);
	@include media($desktop) {
		background-image: url(../images/leads/tt-workers-LeadArt-Todd-5.jpg);
	}
}
.lead-two {
	background-image: url(../images/leads/Santiago.jpg);
	@include media($desktop) {
		background-image: url(../images/leads/Santiago-Single-Lead.jpg);
	}
}
.lead-three {
	background-image: url(../images/leads/Crystal-Mobile-Crash.jpg);
	@include media($desktop) {
		background-image: url(../images/leads/Crystal-Single-Lead.jpg);
	}
}
.lead-four {
	background-image: url(../images/leads/Lead-Day-4-mobile.jpg);
	@include media($desktop) {
		background-image: url(../images/leads/Lead-Day-4.jpg);
	}
}
//Story navigation bars
//Static nav-bar styles
.nav-bar {
	color: $white;
	background: $white;
	font: 500 0.8em Helvetica;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-align: center;
	position: static;
	.selected {
		background: $lt_teal;
	}
	ul {
		display: block;
		list-style-type: none;
		margin: 0;
		width: 100%;
		max-width: 1088px;
		li {
			background: $dk_teal;
			margin-top: 0.25em;
			&:active {
				background: $dk_teal;
			}
			&:hover {
				background: $dk_teal;				
			}
			img {
				display: none;
				@include media($desktop) {
					display: block;
					max-width: 100%;
					width: 100%;
					margin-top:0;
				}
			}
			@include media($desktop) {
				background: $white;
				margin-top: 0;
			}
		}
		.nav-link {
			color: $dk_gray;
			font-weight: bold;
			width: 100%;
			margin: 0.75em 0;
		}
		@include media($desktop) {
			background: $white;
		}	
	}
	.inactive {
		li {
			height: 5em;
			@include media($desktop) {
				height: 5em;
			}
		}
		p {	
			display: block;
			color: $white;
			font-weight: bold;
		}
		@include media($desktop) {
			p {
				display: none;
			}
		}
	}
	a {
		text-decoration: none;
		text-shadow: none;
	}
}
//Sticky nav-bar styles
.nav-hide {
	display: none;
}
.sticky {
	visibility: hidden;
	ul {
		max-height: 0;
	}
	@include media ($desktop) {
		visibility: visible;
		position: fixed;
		background: rgb(85, 85, 85);
		max-height: 3em;
		z-index: 99999;
		top: 0px;
		max-width: 1088px;
		width:100%;
		max-height: 3em;
		bottom: 3em;
		background: $white;
		ul {
			display: block;
			list-style-type: none;
			margin: 0;
			li {
				height: 3em;
				&:active {
					background: $dk_teal;
				}
			}
		}
		.inactive {
			p {
				display: none;
			}
			&:active {
				.nav-link {
					display: none;
				}
				p {
					display: block;
					color: $white;
					font-weight: bold;
					margin-top: 0;
					padding-top: 0.8em;
				}
			}
			&:hover {
				.nav-link {
					display: none;
				}
				p {
					display: block;
					color: $white;
					font-weight: bold;
					margin-top: 0;
					padding-top: 0.8em;
				}
			}
		}	
	}
}



.story-container {
	max-width: 94%;
	display: block;
	border-top: 4px solid $yellow;
	margin-top: 1.5em;
	margin-left: 0.5em;
	text-align: left;
	font-weight: normal;
	h1 { //headline
		color: $dk_gray;
		font: 600 2em Helvetica;
		margin-bottom: 0.6em;
		text-align: left;
	}
	p.byline { //byline
		color: $offblack;
		font: 400 0.85em Helvetica;
		text-align: left;
		a {
			font-weight: bold;
		}
	}			
	h3 { //paragraph header
		color: rgb(34, 34, 34);
		font: 700 0.875em Helvetica;
		letter-spacing: 1px;
		line-height: 1.4em;
		text-align: left;
		text-transform: uppercase;
		margin-top: 1em;
	}
	h3.button { //button
		color: $dk_teal;
	}
	p {
		font-weight: normal;
		color: $dk_gray;
		font: 400 1em Georgia;
		line-height: 1.4em;
	}
	hr.yellow {
		border-top: 1px solid $yellow;
		text-decoration: none;
	}
	hr.gray {
		border-top: 1px solid $dk_gray;
		text-decoration: none;
	}
	a {
		color: $teal;
		text-decoration: none;
		&:active {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}				
	}
	img {
		width: 100%;
	}
	ul {
		color: $dk_gray;
		font: 600 0.875em Helvetica;
		line-height: 1.875em;
		text-align: left;
		@include media($mobile) {
			line-height: 1.5em;
		}
		li {
			line-height: 1.4em;
			margin-bottom: 0.75em;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.shareline {
		h3 {
			padding-bottom: 0.75em;
			border-bottom: 1px solid rgb(204, 204, 204);
		}
		p {
			color: $lt_gray;
			font: 400 0.9em Helvetica;
			line-height: 1.4em;
		}
		ul {
			list-style-type: none;
			padding-left: 0;
			li {
				border-bottom: 1px solid rgb(204, 204, 204);
				margin: auto;
			}
		}
		a {
			text-decoration: none;
			&:active {
				color: rgb(17, 17, 17);
			}
			&:hover {
				color: rgb(17, 17, 17);
			}
		}
		.fa {
			color: #666;
			font-size: 1.5em;
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			float: left;
			padding: 0 0.6em 0 0;
			&:active {
				color: rgb(17, 17, 17);
			}
			&:hover {
				color: rgb(17, 17, 17);
			}
		}
		.fa-twitter:before {
			content: "\f099";
			border-right: 1px solid #ccc;
			padding-right: 0.5em;
		}
		.fa-facebook:before {
			content: "\f09a";
		}
		.univision {
			width: 60px;
			float: left;
			padding-right: 0.5em;
		}
	}
	.small-block {
		margin: 1em 0.5em;
		@include media($desktop) {
			h3 {
				margin: 1em 0.5em;
			}
			ul {
				margin: 1em 0.5em;
			}
			margin: 0 0 0.5em 0;
		}			
	}
	.caption { 
		color: $lt_gray;
		font: 500 0.8em Helvetica;
		text-align: left;
		margin: 0.25em;
		@include media($desktop) {
			margin: 0.25em 0;
		}
	}
	.block-text {
		border-bottom: 1px solid $yellow;
		border-top: 1px solid $yellow;
		position: relative;
		h2 { //block-quote quote
			color: $dk_gray;
			font: italic 700 1.5em Georgia;
			line-height: 1.2em;
			position: relative;
			text-align: left;
			margin: 0.7em 0.5em;
		}
		p { //block-quote source
			color: rgb(0, 0, 0);
			font: 100 1em Helvetica;
			line-height: 1.3em;
			text-align: left;
			margin: 1em 0.5em;
		}
	}
	.disclosure {
		font: 500 0.9em helvetica; 
		color: $lt_gray;
	}
	.about {
		border-top: 1px solid $yellow;
		padding: 0.94em 0;
		position: relative;
		.handle {
			font: 300 0.95em Helvetica;
		}
		li {
			margin-bottom: 1em;
			p {
				margin: 0;
			}
		}
		.about-desc {
			color: $lt_gray;
		}
	}
}
.hide {
	display: none;
}
.worker-faces {	
	padding-left: 0.5em;
}
.worker-wall {
	margin: 1em 0;
	p.subtext {
		color: rgb(34, 34, 34);
		font: 300 0.9em helvetica; 
		line-height: 1.4em; 
		text-align: left; 
		margin: 1em 0;
	}
	@include media($desktop) {
		border-left: 1px solid $yellow;
		border-top: 1px solid $yellow;
		padding-left: 1.5em;
	}
	.worker-names {	
		ul {
			line-height: 1em;
			list-style-type: none;
			color: $lt_gray;
			padding-left: 0;
			font: 400 0.65em Helvetica;
			margin-bottom: 0.5em;
			li {
				&:active {
					color: $navBlack;
					background-color: #fce598;
					font-weight: bold;
				}
				&:hover {
					color: $navBlack;
					background-color: #fce598;
					font-weight: bold;
				}
			}
		}
	}
}
.footer {
	background-color: rgb(34, 34, 34);
	color: $white;
	font-size: 0.75em;
	margin-top: 1em;
	.logo {
		width: 120px;
		margin-top: 1em;
	}
	.footer-container {
		text-align: center;
		margin: auto;
		div {
			@include media($desktop) {
		    	text-align: left;
			}
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin-top: 2em;
		a {
		  color: rgb(221, 221, 221);
		  text-decoration: none;
		  &:active {
		    color: $white;
		    text-decoration: underline;
		  }
		  &:hover {
		    color: $white;
		    text-decoration: underline;
		  }
		}
		li {
		  margin-bottom: 0.5em;
		}			
	}
	.icon {
		color: $white;
		font-size: 1.5em;
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		padding-right: 0.5em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@include media($desktop) {
	    	text-align: left;
		}
		&:active {
			color: $teal;
		}
		&:hover {
			color: $teal;
		}
	}
	.internal-links {
		li {
		  &:last-child {
			  	a {
			  		color: $dk_teal;
		  		}
				}
		}
	}
	.donate {
		background: $dk_teal;
		color: $white;
		font-family: Helvetica;
		padding: 0.25em 0;
		ul {
			margin: 1.5em 1.5em 0.75em 1.5em;
			font-size: 1.65em;
			line-height: 0.9em;
			border-bottom: 1px solid $white;
			letter-spacing: 0.03em;
			li {
				&:last-child {
					background-color: $yellow;
					color: rgb(34, 34, 34);
					font: 700 0.5em Helvetica;
					letter-spacing: 1px;
					line-height: 1.4em;
					text-align: center;
					text-transform: uppercase;
					margin: 1em 0 1.5em 0;
					padding: 0.25em 0;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					}
			}
		}
		a {
			&:active {
				text-decoration: none;
			}
			&:hover {
				text-decoration: none;
			}
		}
		@include media($desktop) {
			padding: 0 0 1em 0;
		}
	}
}